html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(155, 155, 155);
	height: 100px;
}

.navbar > * {
	border-radius: 4px;
}

.nav-logo {
	padding: 20px 60px;
	background-color: rgb(182, 182, 182);
}

.nav-link {
	padding: 10px 20px;
	background-color: rgb(182, 182, 182);;
}

.nav-button {
	padding: 15px 20px;
	background-color: rgb(116, 115, 115);
}

.nav-search {
	padding: 20px 100px;
	background-color: rgb(212, 212, 212);
}




/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/



