html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */

body {
	font-family: 'Roboto', sans-serif;
}

/* Wrapper */

.wrapper {
	min-width: 660px;
}

/* Navbar-wrapper */

.navbar-wrapper {
	background-color: #d3d3d3;
}

/* Navbar */

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0px 50px;
	font-size: 21px;
	font-weight: 500;
}

.navbar > * {
	color: #ffffff;
}

.nav-logo {
	margin: 20px 10px 20px 0;
	padding: 20px 60px;
	background-color: rgb(182, 182, 182);
	border-radius: 11px;
}

.nav-link {
	margin: 10px;
}

.nav-button {
	margin: 20px 10px;
	padding: 15px 20px;
	background-color: rgb(116, 115, 115);
	border-radius: 11px;
}

.nav-search {
	margin: 20px 0;
	padding: 20px 100px;
	background-color: rgb(241, 241, 241);
	color: rgb(153, 152, 152);
	border-radius: 11px;
	font-weight: 400;
}

/* Featured Articles */

.featured-articles-container {
	position: relative;
	height: 1428.33px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(211, 211, 211);
}

.featured-article {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.featured-article-1 {
	background-color: rgb(188, 188, 188);
}

.featured-article-2 {
	background-color: rgb(199, 199, 199);
}

.featured-article-3 {
	background-color: rgb(177, 177, 177);
}

.featured-article-4 {
	background-color: rgb(188, 188, 188);
}

.featured-articles-header {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	text-align: center;
	background-color: #f3f3f3;
	font-weight: 700;
}

.featured-article-author-title {
	color: rgb(255,255,255);
}

.featured-article-author {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-weight: 500;
}

.featured-article-author-img {
	width: 50px;
	height: 50px;
	margin-right: 30px;
	transform: rotateZ(calc(-11 * 1deg));
	background-color: rgb(139, 139, 139);
	border-radius: 4px;
}

.featured-article-title {
	padding: 20px 0;
	font-size: 40px;
	font-weight: 700;
}

/* Latest Articles */

.latest-articles-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 50px;
	padding: 50px 40px;
	background-color: rgb(246, 243, 242);
}

.latest-article {
	height: 600px;
	padding: 0 20px;
}

.latest-article > * {
	padding-bottom: 20px;
}

.latest-article-title {
	font-size: 30px;
	font-weight: 500;
}

.latest-article-author {
	color: rgb(139, 139, 139);
}

.smashing-members,
.smashing-tv {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(211,211,211);
	border-radius: 4px;
}

.smashing-title {
	color: rgb(255,255,255);
	font-weight: 700;
}

.smashing-description {
	color: rgb(255,255,255);
	font-weight: 500;
}

.smashing-button {
	color: rgb(38,38,38);
	font-weight: 700;
}

/* Promo book */

.promo-book {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 950px;
	background-color: rgb(27,27,27);
}

.promo-book > * {
	padding-bottom: 40px;
	color: rgb(255,255,255);
	text-align: center;
}

.promo-book-title {
	font-size: 70px;
	font-weight: 700;
}

.promo-book-description {
	font-size: 30px;
}

.promo-book-link {
	font-size: 35px;
	font-weight: 500;
}

/* Curated Articles */

.curated-articles {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 70px;;
	padding: 50px;
	background-color: rgb(255, 255, 255);
}

.curated-article {
	display: grid;
	grid-template-columns: 50px auto;
	grid-gap: 50px;
	height: 400px;
}

.curated-article-author-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	transform: rotateZ(calc(-11 * 1deg));
	background-color: rgb(139, 139, 139);
	border-radius: 4px;
}

.curated-article-author-title-description > * {
	padding-bottom: 30px;
}

.curated-article-author {
	font-size: 20px;
	color: rgb(102, 102, 102);
}

.curated-article-title {
	font-size: 35px;
	color: rgb(51, 51, 51);
	font-weight: 700;
}

.curated-article-description {
	font-size: 22px;
	color: rgb(51, 51, 51);
}

/* Person of the week */

.person-of-the-week {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 250px auto;
	grid-gap: 60px;
	height: 400px;
	margin-top: 50px;
}

.curated-article-author-picture-person-of-the-week {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	margin-right: 60px;
	background-color: rgb(139, 139, 139);
	border-radius: 12px;
	transform: rotateZ(calc(-11 * 1deg));
}

/* Featured smashing book */

.featured-smashing-book {
	display: grid;
	align-items: center;
	height: 400px;
	background-color: rgb(157, 157, 157);
	padding: 60px 80px;
	color: rgb(255,255,255);
}

.featured-smashing-book-title {
	font-size: 45px;
	font-weight: 700;
}

.featured-smashing-book-description {
	font-size: 25px;
}

.featured-smashing-book-link {
	font-size: 25px;
	font-weight: 500;
}

/* Curated articles guide container */

.curated-articles-guide-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 40px;
	padding: 60px 80px;
}

.curated-articles-guide-category {
	margin-bottom: 15px;
	font-size: 17px;
	color: rgb(102, 102, 102);
}

.curated-articles-guide-title {
	margin-bottom: 30px;
	font-size: 35px;
	color: rgb(51, 51, 51);
	font-weight: 500;
}

.curated-articles-guide-links {
	margin-left: 30px;
	font-size: 22px;
	list-style-type: disc;
}

.curated-articles-guide-link {
	margin-bottom: 11px;
	text-decoration: underline;
	color: rgb(111, 111, 111);
}

/* Smashing newsletter */

.smashing-newsletter {
	height: 1000px;
	margin-top: 100px;
	margin-bottom: 300px;
	color: rgb(255,255,255);
	background-color: rgb(157, 157, 157);
	text-align: center;
}

.smashing-newsletter-title {
	padding-top: 50px;
	font-size: 45px;
	font-weight: 700;
}

.smashing-newsletter-description {
	padding-top: 60px;
	font-size: 20px;
}

.smashing-newsletter-subscribe-link {
	padding-top: 600px;
	font-size: 25px;
	font-weight: 500;
}

/* Main footer */

.main-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(157, 157, 157);
	color: white;
}

.browse-topics {
	margin-top: 50px;
	font-size: 14px;
	font-weight: 700;
}

.topics-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 80%;
	margin: 30px auto;
	padding-left: 30px;
	list-style-type: disc;
	font-size: 22px;
	font-weight: 500;

}

.topic {
	margin: 10px 15px;
}

.footer-notes {
	margin-top: 60px;
	font-size: 15px;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 400px;
	margin: 25px auto 100px auto;
	font-size: 15px;
}

.footer-link {
	margin: 10px;
	text-decoration: underline;
}
